<mat-toolbar color="primary" style="height: 64px;padding-bottom: 0" [ngClass]="'mat-elevation-z8'">
  <span class="menu-spacer" style="margin-left: 30px"></span>
  <h1>LOGO</h1>
  <span class="menu-spacer" style="margin-right: 80px"></span>

  <div>
    <a mat-button routerLink="/graph"> Graph </a>
    <a mat-button routerLink="/scalar"> Scalar </a>
    <a mat-button routerLink="/"> Home </a>
    <a mat-button> Placeholder </a>
  </div>

</mat-toolbar>
