<mat-expansion-panel id="detail" [expanded]="panelOpenState" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false"
                     style="position: fixed;top: 64px;right: 0;margin: 10px;width: 320px;" *ngIf="selectedNode">
  <mat-expansion-panel-header style="height: 64px;background: #e9e9e9">
    <mat-panel-title>
      <strong style="font-size: 20px">Details</strong>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div style="display: flex;flex-direction: column">
    <div>
      <strong>Attributes :</strong>
      <p></p>
      <p> Name : {{this.selectedNode.nodeInfo.label}}</p>
      <p *ngIf="this.selectedNode.nodeInfo.opType"> Operator Type : {{this.selectedNode.nodeInfo.opType}}</p>
      <p> Shape : {{this.selectedNode.nodeInfo.shape}}</p>
      <p> Size : {{this.selectedNode.nodeInfo.size}}</p>
      <p> Type : {{this.selectedNode.nodeInfo.type}}</p>
      <p> Location : {{this.selectedNode.nodeInfo.loc}}</p>
    </div>
    <div>
      <strong>Inputs({{this.selectedNode.inputInfo.length}}) :</strong>
      <p></p>
      <p *ngFor="let info of this.selectedNode.inputInfo"
         (click)="handleClick(info.id)">{{info.label}} {{info.shape}}</p>
    </div>

    <div>
      <strong>Outputs({{this.selectedNode.outputInfo.length}}) :</strong>
      <p></p>
      <p *ngFor="let info of this.selectedNode.outputInfo"
         (click)="handleClick(info.id)">{{info.label}} {{info.shape}}</p>
    </div>
  </div>
</mat-expansion-panel>
