<div id="body">
  <div id="side-bar">
    <div style="width: 100%;height: 100%;display: flex;flex-direction: column;justify-content:space-between">
      <div style="width: 100%;height: 200px;flex: auto;">
        <div style="display: flex;flex-direction: column;padding: 20px">
          <h4 style="margin: 0">Algorithm</h4>
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Page Rank</mat-option>
              <mat-option value="option2">ALS</mat-option>
            </mat-select>
          </mat-form-field>
          <h4 style="margin: 0">Mode</h4>
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Full</mat-option>
              <mat-option value="option2">Incremental</mat-option>
              <mat-option value="option3">Hybrid</mat-option>
            </mat-select>
          </mat-form-field>
          <h4 style="margin: 0">Metrics</h4>
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Loss</mat-option>
              <mat-option value="option2">Accuracy</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div id="main" style="margin: 20px;display: flex;flex-direction: column">
    <mat-expansion-panel hideToggle expanded
                         style="flex: none;margin-top: 32px">
      <mat-expansion-panel-header [ngClass]="'mat-elevation-z1'" style="height: 64px;">
        <mat-panel-title>
          <div style="height:48px;line-height: 48px;font-size: 20px">
            epoch_loss
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class='content'>
        <div id="chartdiv">
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>
<div class="tooltip"></div>

