/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #e9e9e9}

#body {
  display: flex;
  height: 100%;
}

#side-bar {
  width: 250px;
  flex: 1 0 auto;
}

#main {
  flex: 6 1 800px;
}
