<div id="body">
  <div id="side-bar">
    <div style="width: 100%;height: 100%;display: flex;flex-direction: column;justify-content:space-between">
      <div style="width: 100%;height: 200px;flex: auto;">
        <div style="display: flex;flex-direction: column;padding: 20px">
          <h4 style="margin: 0">Algorithm</h4>
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Page Rank</mat-option>
              <mat-option value="option2">ALS</mat-option>
            </mat-select>
          </mat-form-field>
          <h4 style="margin: 0">Mode</h4>
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option value="option1">Full</mat-option>
              <mat-option value="option2">Incremental</mat-option>
              <mat-option value="option3">Hybrid</mat-option>
            </mat-select>
          </mat-form-field>
          <h4 style="margin: 0">Explain</h4>
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(ngModel)]="this.selectedExplain" (selectionChange)="changeExplain()">
              <mat-option>None</mat-option>
              <mat-option value="hop">Hop</mat-option>
              <mat-option value="runtime">Runtime</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="drawBlock(selectedExplain)">Main
          </button>
        </div>
      </div>
      <mat-expansion-panel hideToggle expanded
                           style="flex-direction: column;flex: none">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Legends</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div id='content'>
          <svg>
            <g class="node" style="opacity: 1;" transform="translate(50,30)">
              <rect rx="10" ry="10" x="-30" y="-14" width="60" height="28" class="label-container"
                    style="stroke: #333;fill:#d3d3d3;stroke-width: 2px;"></rect>
            </g>
            <text x="100" y="35" style="font-size:20px;">Operators</text>
            <g class="node" style="opacity: 1;" transform="translate(50,80)">
              <ellipse x="-30" y="-14" rx="30" ry="14" class="label-container"
                       style="stroke: #333;fill:#fff;stroke-width: 2px;">
              </ellipse>
            </g>
            <text x="100" y="85" style="font-size:20px;">Variables</text>
          </svg>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
  <ng-content>

  </ng-content>
  <div id="main">
    <svg id="graph"></svg>
    <app-node-detail [selectedNode]="this.selectedNode"
                     (clickEvent)="clickNode($event)"></app-node-detail>
  </div>
</div>
<div class="tooltip"></div>


