.tooltip {
  position: absolute;
  font-size: 15px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgb(174, 174, 174) 0 0 10px;
  cursor: pointer;
  display: none;
  padding: 10px;
  white-space: pre-wrap;
}

.tooltip > div {
  padding: 10px;
}

svg {
  height: 100%;
  width: 100%;
}

:host #content {
  height: 300px;
}

::ng-deep g.node:hover .label-container{
  stroke-width: 4px !important;
}

::ng-deep g.node .selected{
  stroke: red !important;
  stroke-width: 4px !important;
}
#main {
  background: white;
}

.mat-form-field-flex{
  background: transparent;
}
